{% extends 'assistant/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="d-flex justify-content-center ">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <h1 style='font-size: 20pt'>🤖Chatbot with ChatGPT </h1>
      </div>

      <div class="card-body">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn-newchat btn" onclick="location.href='{% url 'new_chat' %}'"> + New Chat</button>
        </div>

        <div class="chat-history">
          <div>
            
            {% for message in messages %}
            <div class=" 
                  {% if message.role == 'system' %}  system {% endif %}
                  {% if message.role == 'user' %} user{% endif %}
                  {% if message.role == 'assistant' %} assist {% endif %}">
              <div class="card-body p-1 ">
                {% if message.role == 'system' %}
                <div>
                  <span class="material-symbols-rounded">robot</span>
                  <strong>Assistant:</strong>
                  <div>Hi! Welcome to Chatbot! Ask Any Questions</div>
                </div>
                {% endif %}
                {% if message.role == 'user' %}
                <div class="user-text">
                  <span class="material-symbols-rounded">person</span>
                  <strong>{{ message.role|title }}:</strong>
                  <div>{{ message.content|linebreaksbr }}</div>
                </div>
                {% endif %}
                {% if message.role == 'assistant' %}
                <span class="material-symbols-rounded">robot</span>
                <strong>{{ message.role|title }}:</strong>
                <div>{{ message.content|linebreaksbr }}</div>
                {% endif %}
                
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      <div class="parent-input">
        <div class="chat-input">
          <form action="." method="POST">
            <!-- this secures the form from malicious attacks during submission -->
            {% csrf_token %}
            <div class="row">
              <label for="temperature" style='font-size: 9pt' class="form-label">Temperature</label>
              <div class="col-2">
                <input class="form-control mb-2" type="number" step="0.01" min="0" max="2" name="temperature"
                  value="{{ temperature }}" id="temperature">
              </div>
              <div class="col-8">
                <input class="form-control mb-2" required type="text" autofocus="autofocus" name="prompt"
                  placeholder="Ask any thing" value="{{ prompt }}" id="">
              </div>
              <div class="col-2">
                <button id="send-btn" class="material-symbols-rounded" type="submit">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}